<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LiFePO4</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <section>
        <h2>Зміст</h2>
        <a class="skip-to-main-content" href="#main-content">Пропустити до основного вмісту</a>
        <nav>
            <ul>
              <li><a href="home.html">Що таке LiFePO4 акумулятори</a></li>
            <li><a class="now">З чого складається LiFePO4 батарея</a></li>
                <li><a href="charging.html">Як правильно заряджати LiFePO4 аккумулятор</a></li>
                <li><a href="usage.html">Де використовуються LiFePO4 батареї</a></li>
                <li><a href="gallery.html">Галерея LiFePO4 батарей</a></li>
            </ul>
        </nav>
    </section>

    <header>
        <h1 id="main-content">З чого складається LiFePO4 батарея</h1>
    </header>
    <main>
        
        <section>
            <h2 id="myHeader">Літій-залізо-фосфатна батарея (LiFePO4) складається з наступних компонентів:</h2>
            <ul>
                <li><b>Катод:</b> <a>Це позитивний електрод батареї. У випадку LiFePO4 батареї катод складається з літієвого залізофосфату. Цей матеріал є безпечним і стійким до перегріву порівняно з іншими літій-іонними батареями.</a></li>
        <li><b>Анод:</b> <a>LiFePO4 акумуми.</a></li>
        <li><b>Електроліт:</b> <a>Електроліт - це речовина, яка забезпечує рух іонів між анодом і катодом. У більшості літій-іонних батарей використовується органічний рідкий електроліт, хоча в деяких випадках можуть використовуватися полімерні або керамічні електроліти.</a></li>
        <li><b>Сепаратор:</b> <a>Сепаратор розділяє анод і катод, запобігаючи короткому замиканню і сприяючи руху іонів літію в батареї.</a></li>
        <li><b>Оболонка або обгортка:</b> <a>Це захисний шар, який оточує всю батарею і забезпечує механічний захист.</a></li>
    </ul>
        </section>

        <div class="container3">
            <img src="images/4.jpg" width="200" alt="Фотоілюстрація з чого складається літій-залізо-фосфатна батарея">
            
            </div>

    </main>
    <footer>
         <p2>&copy; 2024 Усі права захищено.</p2>
    </footer>
</body>
</html>
