<!DOCTYPE html>
<html lang="uk">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Final Project</title>
  <link rel="stylesheet" href="css/style_1.css">
</head>

<body>
  <section>
    <h3>Зміст</h3>
    <nav>
        <ul> 
          <li><a href="home.html">Що таке LiFePO4 акумулятори</a></li>
          <li><a href="composition.html">З чого складається LiFePO4 батарея</a></li>
          <li><a href="charging.html">Як правильно заряджати LiFePO4 аккумулятор</a></li>
          <li><a href="usage.html">Де використовуються LiFePO4 батареї</a></li>
          <li><a class="now">Галерея LiFePO4 батарей</a></li>
        </ul>
    </nav>
</section>

<header>
  <h1 id="main-content">Галерея LiFePO4 батарей</h1>
</header>

  <main>
    <div class="grid">
      <figure>
        <img src="images/1.jpg" alt="LiFePO4" width="200">
        <figcaption>LiFePO4</figcaption>
      </figure>
      <figure>
        <img src="images/2.jpg" alt="LiFePO4 8ps" width="200">
        <figcaption>LiFePO4 8ps</figcaption>
      </figure>
      <figure>
        <img src="images/3.jpg" alt="LiFePO4 4ps" width="200">
        <figcaption>LiFePO4 4ps</figcaption>
      </figure>
      <figure>
        <img src="images/4.jpg" alt="Entrails" width="200">
        <figcaption>Entrails</figcaption>
      </figure>
      <figure>
        <img src="images/5.jpg" alt="Schedule" width="200">
        <figcaption>Schedule</figcaption>
      </figure>
      <figure>
        <img src="images/6.jpg" alt="For cars" width="200">
        <figcaption>For cars</figcaption>
      </figure>
      <figure>
        <img src="images/7.jpg" alt="For home" width="200">
        <figcaption>For home</figcaption>
      </figure>
      <figure>
        <img src="images/8.jpg" alt="For inverters" width="200">
        <figcaption>For inverters</figcaption>
      </figure>
      <figure>
        <img src="images/9.jpg" alt="For UPS" width="200">
        <figcaption>For UPS</figcaption>
      </figure>
    </div>
  </main>

  <footer>
    <a href="#top">Jump to the Top</a>
  </footer>
</body>

</html>