<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>LiFePO4</title>
    <link rel="stylesheet" href="css/style.css">
</head>
<body>

    <section>
        <h2>Зміст</h2>
        <a class="skip-to-main-content" href="#main-content">Пропустити до основного вмісту</a>
        <nav>
            <ul>
              <li><a class="now">Що таке LiFePO4 акумулятори</a></li>
                  <ul> 
                  <li><a href="#myHeader">Технічні характеристики</a></li>
                  <li><a href="#advantages">Переваги та недоліки</a></li>
                  </ul> 
                <li><a href="composition.html">З чого складається LiFePO4 батарея</a></li>
                <li><a href="charging.html">Як правильно заряджати LiFePO4 аккумулятор</a></li>
                <li><a href="usage.html">Де використовуються LiFePO4 батареї</a></li>
                <li><a href="gallery.html">Галерея LiFePO4 батарей</a></li>
            </ul>
        </nav>
    </section>

    <header>
        <h1 id="main-content">Що таке LiFePO4 акумулятори</h1>
    </header>
    <main>
        <div class="container1">
        <img src="images/1.jpg" width="200" alt="Осередок літій-залізо-фосфатного акумулятора">
        <img src="images/2.jpg" width="200" alt="8 осередків літій-залізо-фосфатного акумулятора">
        <img src="images/3.jpg" width="200" alt="4 осередоки літій-залізо-фосфатного акумулятора">
        </div>

        <section>
            <p>LiFePO4 аккумулятори, відомі також як літій-залізо-фосфатні акумулятори, є одним з найновіших типів перезаряджуємих батарей, які використовуються в різних застосуваннях, від електромобілів до портативної електроніки. Вони пропонують ряд переваг порівняно з іншими типами літієвих акумуляторів, включаючи довгий термін служби, високу стабільність при високих температурах та низький саморозряд. Однак, як і всі технології, вони мають свої недоліки. У наступних розділах ми детальніше розглянемо, технічні характеристики, переваги та недоліки літій-залізо-фосфатних акумуляторів, з чого вони складаються, як їх правильно заряджати, а також де вони використовуються.</p>
        </section>

        <section>
            <h2 id="myHeader">Технічні характеристики</h2>
            <ul>
                <li>Напруга на піковій величині – 3.65 В</li>
                <li>Напруги в середній точці – 3.3 В</li>
                <li>Номінальна робоча напруга – від 3 до 3.3 В</li>
                <li>Напруга нульового заряду – 2 В</li>
                <li>Мінімальний рівень напруги під навантаженням – 2.8 В</li>
                <li>Робочий ресурс – понад 3500 циклів перезаряджання</li>
                <li>Саморозряд при t=15–18 °C – до 5% на рік</li>
            </ul>
        </section>
      
      <h2 id="advantages">Переваги та недоліки</h2>
        <div class="container">
  <div class="item">
    <h3>Переваги</h3>
    <ul>
        <li><b>Безпека:</b> <a>Завдяки хімічному складу LiFePO4, такі акумулятори менш схильні до перегріву і вибуху, що робить їх ідеальними для використання в домашніх умовах.</a></li>
        <li><b>Довгий термін служби:</b> <a>LiFePO4 акумулятори зазвичай мають довший термін служби (≈3500 циклів) порівняно з іншими типами літієвих акумуляторів. Вони можуть витримувати більше зарядно-розрядних циклів, що робить їх більш довговічними.</a></li>
        <li><b>Термостійкість:</b> <a>стабільно працюють за температури від -30 до +60 °С;</a></li>
        <li><b>Екологічність:</b> <a>Вони містять менше шкідливих речовин порівняно з іншими типами літієвих акумуляторів, що робить їх більш екологічно чистими.</a></li>
    </ul></div>

  <div class="item">
    <h3>Недоліки</h3>
            <ul>
                <li><b>Низька енергетична щільність:</b> <a>LiFePO4 акумулятори мають нижчу енергетичну щільність порівняно з іншими типами літієвих акумуляторів. Це означає, що для забезпечення того самого рівня енергії акумулятори мають більший об'єм та вагу.</a></li>
                <li><b>Вища вартість:</b> <a>Виробництво LiFePO4 акумуляторів зазвичай дорожче порівняно з іншими типами, що може негативно відображається на їх вартості.</a></li>
            </ul></div>
</div>

  
      
      

    </main>
    <footer>
         <p2>&copy; 2024 Усі права захищено.</p2>
    </footer>
</body>
</html>
