<!DOCTYPE html>
<html>
    <head>
        <title>Ivan_I</title>
    </head>
    <body>
        <section>
        <p>LiFePO4 аккумулятори, відомі також як літій-залізо-фосфатні акумулятори, є одним з найновіших типів перезаряджуємих батарей, які використовуються в різних застосуваннях, від електромобілів до портативної електроніки. Вони пропонують ряд переваг порівняно з іншими типами літієвих акумуляторів, включаючи довгий термін служби, високу стабільність при високих температурах та низький саморозряд. Однак, як і всі технології, вони мають свої недоліки. У наступних розділах ми детальніше розглянемо, технічні характеристики, переваги та недоліки літій-залізо-фосфатних акумуляторів, з чого вони складаються, як їх правильно заряджати, а також де вони використовуються.</p>
        </section>

        <section>
            <h2 id="myHeader">Технічні характеристики</h2>
            <ul>
                <li>Напруга на піковій величині – 3.65 В</li>
                <li>Напруги в середній точці – 3.3 В</li>
                <li>Номінальна робоча напруга – від 3 до 3.3 В</li>
                <li>Напруга нульового заряду – 2 В</li>
                <li>Мінімальний рівень напруги під навантаженням – 2.8 В</li>
                <li>Робочий ресурс – понад 3500 циклів перезаряджання</li>
                <li>Саморозряд при t=15–18 °C – до 5% на рік</li>
            </ul>
        </section>
    
    </body>
</html>